/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Geo|Londrina+Solid");
@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/BebasNeue.woff") format("woff"); }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MYRIADPROREGULAR.woff") format("woff"); }

@font-face {
  font-family: 'Arial Mt';
  src: url("../fonts/ArialMT.woff") format("woff"); }

@font-face {
  font-family: 'Catull';
  src: url("../fonts/Catull.ttf") format("truetype"); }

/* VARIABLES */
/* MIXIN */
/* MEDIA QUERY*/
/* GENERAL */
html {
  font-size: 10px; }

h3 {
  font-family: "Londrina Solid";
  text-transform: uppercase;
  color: #9aac49;
  margin: 0 0 1rem; }

.container {
  max-width: 100rem; }

.flex-container {
  display: flex; }

.main-header-md, .main-header-lg {
  color: #ffffff;
  font-family: "Bebas Neue"; }

.main-header-sm {
  color: #4e918d;
  font-family: "Londrina Solid";
  text-transform: uppercase;
  font-size: 2.2rem;
  line-height: 3rem;
  display: inline-block; }

.main-header-md {
  margin-bottom: 0;
  font-size: 7.2rem; }
  @media (max-width: 768px) {
    .main-header-md {
      font-size: 4rem; } }

.main-header-lg {
  position: relative;
  top: -2rem;
  font-size: 12.8rem;
  margin: 0 0 2.3rem; }
  @media (max-width: 768px) {
    .main-header-lg {
      margin-top: 1rem;
      font-size: 7rem; } }

.btn {
  font-family: "Londrina Solid";
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-size: 2.2rem;
  position: relative;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(to top, #df6865 0%, #e74c48 99%, #e74c48 100%);
  display: block;
  margin: 3rem auto 4rem;
  text-transform: uppercase;
  padding: 1.2rem 1.5rem;
  transition: padding ease 0.3s, border-radius ease 0.6s; }
  .btn:hover {
    padding-left: 3rem;
    padding-right: 3rem;
    color: #ffffff;
    border-radius: 2.7rem; }

.rugged-paper {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0; }

/* NAV */
.navbar-default {
  border-color: transparent; }

.navbar {
  margin-top: 2.4rem;
  position: absolute;
  width: 100%;
  background: transparent; }
  @media (max-width: 768px) {
    .navbar {
      position: relative;
      background: #7fbcbe;
      margin: 0; } }
  .navbar .navbar-brand, .navbar .navbar-nav .navbar-links {
    color: #ffffff; }
    .navbar .navbar-brand:hover, .navbar .navbar-nav .navbar-links:hover {
      color: #ffffff; }
  .navbar .navbar-links {
    position: relative; }
    @media (min-width: 768px) {
      .navbar .navbar-links:hover:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 4rem;
        bottom: 3rem;
        left: 0;
        background: url("../image/nav-hover.png") repeat-x; } }
  .navbar .navbar-brand {
    font-family: "Londrina Solid";
    font-size: 4.8rem;
    text-transform: uppercase; }
    @media (max-width: 768px) {
      .navbar .navbar-brand {
        font-size: 2.4rem; } }
  .navbar .navbar-toggle:hover {
    background: transparent; }
  .navbar .navbar-toggle:focus {
    background: transparent; }
  .navbar .navbar-right .navbar-links {
    font-family: "Arial MT";
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-shadow: 0 2px 0 rgba(34, 78, 89, 0.25);
    font-size: 1.6rem;
    line-height: 100%;
    padding-left: 0.7rem;
    padding-right: 0.7rem; }
    .navbar .navbar-right .navbar-links:focus {
      color: #ffffff; }
    @media (max-width: 768px) {
      .navbar .navbar-right .navbar-links {
        text-align: center; } }

/* SCROLL TOP BTN */
.scroll-top-btn {
  position: fixed;
  bottom: 2rem;
  z-index: 3;
  right: 2rem;
  background-color: #d9e2ad;
  padding: 1rem 1.5rem 0.5rem;
  color: #f5f1e6; }
  .scroll-top-btn:hover {
    cursor: pointer; }
  .scroll-top-btn .arrow-up {
    width: 0;
    height: 0;
    margin: auto;
    border-left: 1.8rem solid transparent;
    border-right: 1.8rem solid transparent;
    border-bottom: 1.8rem solid #f5f1e6; }
  .scroll-top-btn .text-scroll-top-btn {
    font-family: "Londrina Solid";
    font-size: 4.9rem;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 1; }

/* MAIN */
.main {
  color: #ffffff;
  min-height: 45rem;
  background: url("../image/main.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 11rem; }
  @media (max-width: 768px) {
    .main {
      padding-top: 2rem; } }
  .main .container {
    position: relative; }
  .main .main-phone {
    position: absolute;
    bottom: 0;
    left: -4rem; }
    @media (max-width: 991px) {
      .main .main-phone {
        display: none; } }
  .main .main-header-md, .main .main-header-lg {
    font-family: 'Bebas Neue';
    text-shadow: 0 2px 0 rgba(34, 78, 89, 0.25); }
    @media (max-width: 768px) {
      .main .main-header-md, .main .main-header-lg {
        text-align: center; } }
  .main p {
    font-family: "Arial Mt";
    color: #104b52;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25); }
    @media (max-width: 768px) {
      .main p {
        max-width: 30rem;
        margin: auto;
        text-align: center; } }
  @media (max-width: 475px) {
    .main .btn {
      font-size: 1.6rem; } }
  .main .btn:hover {
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 2.7rem; }
  .main .btn .main-button-arrow {
    position: absolute;
    left: 110%;
    bottom: 1rem; }
    @media (max-width: 475px) {
      .main .btn .main-button-arrow {
        display: none; } }

/* SERVICES */
.services {
  background: url("../image/services-bg.png");
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  position: relative;
  padding-bottom: 3rem; }
  @media (max-width: 991px) {
    .services [class^='col-'] {
      text-align: center; } }
  .services .container {
    padding-top: 5rem;
    padding-bottom: 3rem; }
  .services .icon-svg {
    display: inline-block;
    position: relative;
    bottom: 0.4rem;
    width: 2.9rem;
    height: 3rem; }
  .services .icon-svg.icon-tweet {
    margin: 1.5rem 0 0 2rem; }
    @media (max-width: 991px) {
      .services .icon-svg.icon-tweet {
        margin-right: 70%; } }
  .services .services-tweet-text {
    position: relative;
    background: #dee9bb;
    width: 95%;
    margin: 2.3rem 0 0 10%;
    border-radius: 2rem;
    color: #39726e; }
    @media (max-width: 991px) {
      .services .services-tweet-text {
        width: 70%;
        margin: 3rem auto 0; } }
    .services .services-tweet-text img {
      position: absolute;
      bottom: -1.6rem;
      left: 3rem; }
    .services .services-tweet-text .services-chat-bubble {
      padding: 1.8rem 1.5rem;
      margin-bottom: 0; }

/* APPS */
.apps {
  min-height: 30rem;
  background: url("../image/main.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  position: relative; }
  .apps .container {
    overflow: hidden; }
  .apps .container > .row {
    margin-top: 8rem; }
    @media (max-width: 768px) {
      .apps .container > .row {
        margin-top: 4rem;
        text-align: center; } }
  .apps .col-flex {
    display: flex;
    height: 19rem; }
    @media (max-width: 768px) {
      .apps .col-flex {
        height: auto; } }
    .apps .col-flex p {
      display: flex;
      color: #ffffff;
      align-items: flex-end; }
  .apps .main-header-md {
    margin-bottom: 0;
    font-size: 4.3rem;
    text-shadow: 0 2px 0 rgba(34, 78, 89, 0.25); }
  .apps .main-header-lg {
    margin-bottom: 0;
    text-shadow: 0 2px 0 rgba(34, 78, 89, 0.25); }
  .apps #app-carousel {
    margin-top: 2rem; }
    .apps #app-carousel .slide-container {
      transition: 0.8s; }
  .apps .app-slide-item {
    background: #f3efe4;
    border-radius: 0.3rem;
    margin-bottom: 4rem; }
    .apps .app-slide-item .slide-info, .apps .app-slide-item .slide-view {
      margin: 1rem; }
    .apps .app-slide-item .slide-info {
      -webkit-flex-basis: 60%;
      flex-basis: 60%;
      min-height: 20rem; }
      .apps .app-slide-item .slide-info p {
        font-family: 'Arial Mt';
        font-size: 1.1rem;
        line-height: 1.8; }
    .apps .app-slide-item .slide-view {
      -webkit-flex-basis: 40%;
      flex-basis: 40%; }
      .apps .app-slide-item .slide-view .app-caruousel-img-placeholder {
        width: 10rem;
        height: 10rem;
        margin: 0.5rem auto 0;
        border-radius: 1.4rem;
        background-image: linear-gradient(to top, #ffbb4a 0%, #ffd972 100%); }
      .apps .app-slide-item .slide-view .btn {
        margin: 1.5rem auto;
        padding: 0 1rem;
        font-size: 1.8rem;
        line-height: 2.3; }
    .apps .app-slide-item .slide-button-buy {
      border-top: 1px solid #dcd8cf; }
    .apps .app-slide-item .slide-button-buy .flex-container {
      justify-content: space-between; }
      .apps .app-slide-item .slide-button-buy .flex-container a {
        margin: 1rem; }
      .apps .app-slide-item .slide-button-buy .flex-container .link-center {
        margin: 1rem auto; }
  .apps .carousel-navigation {
    margin-bottom: 4rem;
    text-align: center; }
    .apps .carousel-navigation .bullet {
      display: inline-block;
      width: 2.3rem;
      height: 2.3rem;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), inset 0 -2px 0 rgba(255, 255, 255, 0.2);
      background: #ffffff;
      border-radius: 50%;
      margin: 0 0.3rem;
      opacity: 0.9; }
      .apps .carousel-navigation .bullet:hover {
        cursor: pointer; }
    .apps .carousel-navigation .bullet.active {
      background-color: #e74c48; }

/* TEAM */
.team {
  background: url("../image/team-test-bg.png");
  -webkit-background-size: cover;
  background-size: cover;
  z-index: 2;
  min-height: 200px;
  position: relative;
  padding-bottom: 4rem; }
  @media (max-width: 991px) {
    .team .flex-container {
      justify-content: center;
      align-items: center; } }
  .team .main-header-md, .team .main-header-lg {
    color: #4e918d; }
    @media (max-width: 768px) {
      .team .main-header-md, .team .main-header-lg {
        text-align: center; } }
  .team .main-header-md {
    font-size: 3rem;
    margin-top: 7rem; }
  .team .main-header-lg {
    font-size: 10.8rem;
    margin-bottom: 0; }
    @media (max-width: 768px) {
      .team .main-header-lg {
        font-size: 6rem; } }
  .team .team-image-placeholder {
    position: relative;
    width: 18.6rem;
    height: 18.6rem;
    background: #7fbcbe;
    border-radius: 50%;
    margin-right: 1rem;
    margin-top: 4rem;
    border: 1px solid #5d8c90;
    box-shadow: inset 0 1px 0 1px rgba(255, 255, 255, 0.5); }
    @media (max-width: 768px) {
      .team .team-image-placeholder {
        width: 12.0rem;
        height: 12.0rem; } }
    .team .team-image-placeholder:after {
      position: absolute;
      content: '';
      left: 0.6rem;
      top: 0.6rem;
      width: 17.2rem;
      height: 17.2rem;
      border-radius: 50%;
      z-index: 1;
      background-color: #ffffff; }
      @media (max-width: 768px) {
        .team .team-image-placeholder:after {
          width: 10.6rem;
          height: 10.6rem; } }
  .team .team-info {
    max-width: 25rem; }
    @media (max-width: 475px) {
      .team .team-info {
        max-width: 15rem; } }
    .team .team-info .main-header-sm {
      margin: 4rem 0 0; }
    .team .team-info h3 {
      font-size: 1.8rem; }
    .team .team-info p {
      font-family: "Arial Mt";
      color: #7e7e7e;
      font-size: 1.2rem; }
    .team .team-info .fa {
      width: 2.3rem;
      margin-right: 0.3rem;
      height: 2.3rem;
      border-radius: 50%;
      line-height: 2.3rem;
      text-align: center;
      font-size: 1.6rem;
      color: #ffffff; }
    .team .team-info .fa-linkedin {
      background-color: #224e59; }
    .team .team-info .fa-facebook {
      background-color: #7bb7bf; }
    .team .team-info .fa-twitter {
      background-color: #acdcd9; }
    .team .team-info .fa-dribbble {
      background-color: #f5989d; }

/* CONTACT */
.contact {
  background: url("../image/main.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  padding-bottom: 8rem;
  text-align: center; }
  .contact .main-header-md {
    margin: 8rem 0 1rem;
    font-size: 4.2rem; }
    @media (max-width: 768px) {
      .contact .main-header-md {
        font-size: 2.8rem; } }
  .contact .main-header-lg {
    font-size: 8.8rem; }
    @media (max-width: 768px) {
      .contact .main-header-lg {
        font-size: 5.5rem; } }
  .contact input, .contact textarea {
    font-size: 1.8rem;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 2px 5px rgba(0, 0, 0, 0.4);
    border: 1px solid #4790a2;
    min-height: 5rem;
    max-width: 92%; }
    @media (max-width: 768px) {
      .contact input, .contact textarea {
        max-width: 100%; } }
  .contact textarea {
    resize: none; }
  .contact input::placeholder, .contact textarea::placeholder {
    color: #7f7367;
    font-size: 1rem;
    opacity: 0.5;
    line-height: 2rem; }
  .contact .flex-container {
    display: flex;
    margin-top: 2rem; }
  .contact .box-recaptcha {
    display: flex;
    flex: 1; }
  .contact .recaptcha {
    width: 6.7rem;
    height: 5.7rem;
    text-align: center;
    margin-right: 1rem;
    border-radius: 10%; }
  .contact .recaptcha-info {
    padding-top: 0.8rem;
    max-width: 14rem;
    color: #ffffff;
    font-size: 1rem; }
    @media (max-width: 768px) {
      .contact .recaptcha-info {
        flex: 2;
        max-width: 20rem; } }
  .contact .btn[type='submit'] {
    margin: 0 7rem 0;
    height: 4.5rem;
    padding: 0 2.5rem; }
    @media (max-width: 768px) {
      .contact .btn[type='submit'] {
        margin: 1rem; } }
  .contact .contact-info {
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(34, 78, 89, 0.25);
    line-height: 1.3; }
  @media (max-width: 991px) {
    .contact #contact-carousel {
      margin-top: 3rem; } }
  .contact .carousel-info {
    background: url("../image/carousel-info-bg.png");
    padding: 1rem;
    border-radius: 6px; }
    .contact .carousel-info .flex-container {
      margin-top: 0;
      justify-content: space-between; }
      .contact .carousel-info .flex-container p {
        align-self: flex-end;
        color: #959595; }
    .contact .carousel-info h3 {
      color: #5a9692; }
  .contact .carousel-info:nth-of-type(n + 2) {
    margin-top: 1.5rem; }
  .contact .carousel-nav {
    color: #ffffff;
    margin: 0 1rem 1rem auto; }
    .contact .carousel-nav span {
      margin: 0 0.5rem; }
    .contact .carousel-nav:hover {
      cursor: pointer; }
  .contact .contact-carousel-prev, .contact .contact-carousel-next, .contact span {
    color: #444444; }
  .contact span[class='active'] {
    color: #ffffff; }

footer {
  position: relative;
  min-height: 100px;
  background: url("../image/footer-bg.png"); }
  footer .rugged-paper-upside-down {
    position: absolute;
    left: 0;
    width: 100%; }
  footer .flex-container {
    flex-wrap: wrap;
    justify-content: space-between; }
    @media (max-width: 768px) {
      footer .flex-container {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap; } }
  footer .footer-nav {
    color: #4e918d;
    font-family: 'Londrina Solid'; }
    @media (max-width: 768px) {
      footer .footer-nav {
        margin-bottom: 1.6rem; } }
  footer .nav {
    display: flex; }
    footer .nav a {
      margin-right: 2.2rem;
      color: #4e918d;
      transition: color ease 0.3s;
      text-decoration: none;
      position: relative; }
      footer .nav a:hover {
        color: #39726e; }
      footer .nav a:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 0.1rem;
        top: 0;
        right: -1rem;
        background-color: #4e918d; }
    footer .nav a:last-of-type:after {
      width: 0; }
  footer .footer-social {
    align-self: center; }
    @media (max-width: 768px) {
      footer .footer-social {
        text-align: center; } }
  footer .footer-social-btn {
    border-radius: 2px;
    border: 1px solid #d1d1d2;
    background: center center;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0 0.5rem; }
  @media (max-width: 768px) {
    footer .footer-social-btn, footer .social-bubbles {
      margin-top: 1rem; } }
  footer .google-plus-btn {
    width: 30px;
    height: 19px;
    background-image: url("../image/google-plus-btn.png"); }
  footer .tweeter-btn {
    width: 61px;
    height: 19px;
    background-image: url("../image/twitter-btn.png"); }
  footer .facebook-btn {
    width: 50px;
    height: 19px;
    background-image: url("../image/facebook-btn.png"); }
  footer .social-bubbles {
    line-height: 19px;
    position: relative;
    bottom: 2px;
    border: 1px solid #d1d1d2;
    padding: 0.1rem 0.4rem; }
    footer .social-bubbles:before {
      content: '';
      position: absolute;
      left: -3px;
      top: 3px;
      width: 5px;
      height: 6px;
      background: #ffffff;
      border-left: 1px solid #d1d1d2;
      border-bottom: 1px solid #d1d1d2;
      transform: rotate(45deg);
      z-index: 1; }
  footer .social-bubbles:last-of-type {
    background: #efefef; }
    footer .social-bubbles:last-of-type:before {
      background: #efefef; }

/*# sourceMappingURL=style.css.map */