/* FONTS */
//Google fonts
@import url('https://fonts.googleapis.com/css?family=Geo|Londrina+Solid');

// font-family: 'Geo', sans-serif;
// font-family: 'Londrina Solid', cursive;

//Downloaded fonts
@font-face {
    font-family: 'Bebas Neue';
    src: url("../fonts/BebasNeue.woff") format("woff");
}

@font-face {
    font-family: 'Myriad Pro';
    src: url("../fonts/MYRIADPROREGULAR.woff") format("woff");
}

@font-face {
    font-family: 'Arial Mt';
    src: url("../fonts/ArialMT.woff") format("woff");
}

@font-face {
    font-family: 'Catull';
    src: url("../fonts/Catull.ttf") format("truetype");
}

/* VARIABLES */

$main-blue: #11749E;
$main-white: #ffffff;
$main-gray: #104b52;
$main-company-color: #4e918d;
$main-company-darker-color: #39726e;
$header-shadow-text: 0 2px 0 rgba(34, 78, 89, 0.25);
$main-light-green: #9aac49;

/* MIXIN */

@mixin transform($trans) {
    -webkit-transform: $trans;
    -ms-transform: $trans;
    transform: $trans;
}

@mixin middle-align {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
}

@mixin middle-center-align {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    @include transform(translateY(-50%));
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    transition: $transition;
}

/* MEDIA QUERY*/

$desktop: "(max-width: 1200px)";
$laptop: "(max-width: 991px)";
$phone: "(max-width: 768px)";
$vertical-phone: "(max-width: 475px)";

/* GENERAL */
html {
    font-size: 10px;
}

.container {
    max-width: 100rem;
}

.flex-container {
    display: flex;
}

.main-header-md, .main-header-lg {
  color: $main-white;
  font-family: "Bebas Neue";
}

.main-header-md {
  margin-bottom: 0;
  font-size: 7.2rem;
}

.main-header-lg {
  position: relative;
  top: -2rem;
  font-size: 12.8rem;
  margin: 0 0 2.3rem;
}

.btn {
    font-family: "Londrina Solid";
    letter-spacing: 0.1rem;
    color: $main-white;
    font-size: 2.2rem;
    position: relative;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(to top, #df6865 0%, #e74c48 99%, #e74c48 100%);
    display: block;
    margin: 3rem auto 4rem;
    text-transform: uppercase;
    padding: 1.2rem 1.5rem;
    transition: padding ease 0.3s, border-radius ease 0.6s;
    &:hover {
        padding-left: 3rem;
        padding-right: 3rem;
        color: $main-white;
        border-radius: 2.7rem;
    }
}
/* NAV */
.navbar-default {
    border-color: transparent;
}

.navbar {
    margin-top: 2.4rem;
    position: absolute;
    width: 100%;
    background: transparent;
    .navbar-brand, .navbar-nav .navbar-links {
        color: $main-white;
        &:hover {
            color: $main-white;
        }
    }
    .navbar-brand {
        font-family: "Londrina Solid";
        font-size: 4.8rem;
        text-transform: uppercase;
    }
    .navbar-links {
        font-family: "Arial MT";
        font-weight: 700;
        letter-spacing: 0.1rem;
        text-shadow: 0 2px 0 rgba(34, 78, 89, 0.25);
        font-size: 1.6rem;
        line-height: 100%;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
    }
}

/* MAIN */
.main {
    color: $main-white;
    min-height: 45rem;
    background: url("../image/main.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 11rem;

    .container {
        position: relative;
    }

    .main-phone {
        position: absolute;
        bottom: 0;
        left: -4rem;
        @media #{$laptop} {
            display: none;
        }
    }

    .main-header-md, .main-header-lg {
        font-family: 'Bebas Neue';
        text-shadow: 0 2px 0 rgba(34, 78, 89, 0.25);
    }

    p {
        font-family: "Arial Mt";
        color: $main-gray;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
    }

    .btn {
        &:hover {
            padding-left: 3rem;
            padding-right: 3rem;
            border-radius: 2.7rem;
        }
        .main-button-arrow {
            position: absolute;
            left: 110%;
            bottom: 1rem;
        }
    }
}

/* SERVICES */
.services {
    background-image: repeating-linear-gradient(-45deg,
            transparent,
            transparent 4px,
            #f7f7f7 4px,
            #f7f7f7 5px);
    min-height: 200px;
    width: 100%;
    position: relative;

    .container {
        padding-top: 5rem;
        padding-bottom: 3rem;
    }

    .services-header {
        color: $main-company-color;
        font-family: "Londrina Solid";
        text-transform: uppercase;
        font-size: 2.2rem;
        line-height: 3rem;
        display: inline-block;
    }

    .icon-svg {
        display: inline-block;
        position: relative;
        bottom: 0.4rem;
        width: 2.9rem;
        height: 3rem;
    }

    .icon-svg.icon-tweet {
        margin: 1.5rem 0 0 2rem;
    }

    .services-tweet-text {
        position: relative;
        background: #dee9bb;
        width: 95%;
        margin: 2.3rem 0 0 10%;
        border-radius: 2rem;
        color: $main-company-darker-color;

        img {
            position: absolute;
            bottom: -1.6rem;
            left: 3rem;
        }

        .services-chat-bubble {
            padding: 1.8rem 1.5rem;
            margin-bottom: 0;
        }
    }

    .services-bg-rugged {
        position: absolute;
        bottom: -6rem;
        left: 0;
        height: 6rem;
        width: 100%;
        background: url('../image/paper.png');
    }
}

/* APPS */
.apps {
    min-height: 30rem;
    background-image: url("../image/main.jpg");
    background-repeat: repeat-x;
    background-size: cover;

    .container > .row {
        margin-top: 8rem;
    }

    .col-flex {
        display: flex;
        height: 19rem;
        p {
            display: flex;
            color: $main-white;
            align-items: flex-end;
        }
    }

    .main-header-md {
        margin-bottom: 0;
        font-size: 4.3rem;
        text-shadow: $header-shadow-text;
    }

    .main-header-lg {
        margin-bottom: 0;
        text-shadow: $header-shadow-text;
    }

    #app-carousel {
        margin-top: 2rem;
    }

    .app-slide-item {
        background: #f3efe4;
        border-radius: 0.3rem;
        margin-bottom: 4rem;
        .slide-info, .slide-view {
            margin: 1rem;
        }
        .slide-info {
            -webkit-flex-basis: 60%;
            flex-basis: 60%;
            min-height: 20rem;
            h3 {
                font-family: "Londrina Solid";
                text-transform: uppercase;
                color: $main-light-green;
                margin: 0 0 1rem;
            }
            p {
                font-family: 'Arial Mt';
                font-size: 1.1rem;
                line-height: 1.8;
            }
        }
        .slide-view {
            -webkit-flex-basis: 40%;
            flex-basis: 40%;
            .app-caruousel-img-placeholder {
                width: 10rem;
                height: 10rem;
                margin: 0.5rem auto 0;
                border-radius: 1.4rem;
                background-image: linear-gradient(to top, #ffbb4a 0%, #ffd972 100%);
            }
            .btn {
                margin: 1.5rem auto;
                padding: 0 1rem;
                font-size: 1.8rem;
                line-height: 2.3;
            }
        }

        .slide-button-buy {
            border-top: 1px solid #dcd8cf;
        }

        .slide-button-buy .flex-container {
            justify-content: space-between;
            a {
                margin: 1rem;
                &:hover {

                }
            }
        }
    }
}